heat_template_version: 2013-05-23
resources:
  server:
    type: OS::Nova::Server
    properties:
      image: ubuntu_14.04
      flavor: m1.small
      networks:
        - port: {get_resource: port}
      user_data: |
        #!/bin/bash
        apt-get install stress
        stress --cpu 200 &
  port:
    type: OS::Neutron::Port
    properties:
      network_id: admin_internal_net
